.red{
    color: red;
}
.blue{
    color: blue;
}
.green{
    color: green;
}
.italic{
    font-style: italic !important;
}
.bold{
    font-weight: bold !important;
}
.larges-font{
    font-size: 1.5em !important;
}
.medium-font{
    font-size: 1.2em !important;
}
.small-font{
    font-size: 0.5em !important;
}
