.container-admin-create{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .admin-content-create{
        .nav{
            margin: 1em 0;
        }
        h3{
            margin: 0.2em;
            font-size: 2.5em;
            font-weight: 500;
            text-decoration: underline;
        }
        form{
            display: flex;
        }
        .create{
            .create-left{
                float: left;
                margin: 0 2em;
            }
            .create-right{
                margin: 0 2em;
            }
            p{
                margin: 2em 0;
                
            }
            #link_title{
                text-align: center;
            }
            .link-create{
                width: 100%;
                text-align: center;
            }
            #type{
                float: left;
                margin-left: 3em;
            }
            #categories{
                clear: both;
            }
            button {
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 0.65em 1.2em;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                border-radius: 8px;
            }
            button:hover {
                background-color: rgb(47, 90, 48); /* Green */
            }
        }

    }
}