.container-admin-edit{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .user-info{
        margin-top: 1em;
        font-size: 1.2em;

        .title{
            text-decoration: underline;
            color: #4CAF50;
            font-size: 1.2em;
        }
    }
    .id{
        color: #4CAF50;
    }
    .nav{
        a{
            margin: 2em;
            font-size: 1.2em;
            color: #346797;
        }
    }
    .choice{
        margin: 0.5em 0;
        text-align: center;
        select{
            background-color: rgba(0, 0, 0, 0.239); /* dark */
            border: none;
            color: white;
            padding: 0.2em 0.5em;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 1em;
        }
    }
    .edit-posts{
        text-align: center;

        p{
            margin: 0.5em 0;
        }
        .edit-info{
            font-size: 1.3em;
            text-decoration: underline;
        }
    }
    input[type=submit]{
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 0.3em 1em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 3px;
        &:hover{
            background-color: rgb(45, 100, 47); /* Green */
        }
    }
    input[value=supprimer]{
        background-color: rgb(202, 49, 49); /* red */
        &:hover{
            background-color: rgb(97, 26, 26); /* red */
        }
    }
    .form-container{
        text-align: start;

        form label:nth-child(2){

            border-bottom: 2px solid black;
            font-size: 1.2em;

        }
        input[type=submit]{
            margin: 0.2em 0;
        }
    }
    .suppression form span{
        background-color: rgb(182, 39, 39);
        padding: 0.5em 1em;
        border-radius: 3px;
        color: whitesmoke;
    }
    .suppression form p{
        margin:  1em 0;
    }
    .suppression{
        input[value=suppression]{
            background-color: rgb(182, 39, 39);
        }
    }

}

@media only screen and (max-height: 720px){
    .container-admin-edit{
        .edit-posts{
            p{
                margin: 0.3em 0 !important; 
            }
        }
        .suppression form span{
            margin: 1em 0;
            display: block;
        }
    }
}
@media only screen and (max-width: 920px) {
    body{
        font-size: 12px;
    }
    .container-admin-edit {
        align-items: start;
}
     
    
}