.container{
    display: grid;
    grid-template-columns: 0.5fr 2.5fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    "nav main"
    "nav footer";

    #nav{
        grid-area: nav;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav{
        text-align: center;
        a{ 

            margin: 40% 0;
            display: block;

        }
    }

}

