.main{
    grid-area: main;
    min-height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.050);
    .site-content{
        
        h2{
            font-size: 1.2em;
        }
        p{
            font-size: 0.8em;
        }
    }
    .item-article-type-1{
        box-shadow: 6px 6px 25px 1px rgba(16, 16, 17, 0.2);
        border: 0.5px solid rgba(16, 16, 17, 0.2);
        background-color: white;
        border-radius: 8px;
        padding: 2em;
        margin: 5em auto;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
        "date date date"
        "image-1 image-1 content-title"
        "image-2 image-3 image-4"
        "link link link";
       
        .date{
            grid-area: date;
            padding: 0.5em 0;
            font-family: $font-Inconsolata;
        }
        .image-1{
            grid-area: image-1;
            padding: 0.5em;
            img{
                max-width: 90%;
            }
        }
        .image-2{
            grid-area: image-2;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                max-width: 70%;
            }
        }
        .image-3{
            grid-area: image-3;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                max-width: 70%;
            }
        }
        .image-4{
            grid-area: image-4;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                max-width: 70%;
            }
        }
        .content-title{
            padding: 2em;
            grid-area: content-title;
            .title{
                font-size: 2em;
                margin-bottom: 2em;
                font-family: $font-Roboto;
            }
            .description{
                p{
                    font-family: $font-Open;
                    font-size: 1.2em;
                }
            }
        }
        .link{
            grid-area: link;
            text-align: center;
            padding: 1.5em 0;
            font-family: $font-Noto; 
            font-style: italic;
        }
    }
    .item-article-type-2{
        box-shadow: 6px 6px 25px 1px rgba(16, 16, 17, 0.2);
        border: 0.5px solid rgba(16, 16, 17, 0.2);
        background-color: whitesmoke;
        border-radius: 8px;
        padding: 2em;
        margin: 5em auto;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
        "date date date"
        "content-title image-1 image-1"
        "image-2 image-3 image-4"
        "link link link";
       
        .date{
            grid-area: date;
            padding: 0.5em 0;
        }
        .image-1{
            grid-area: image-1;
            padding: 0.5em;
            img{
                max-width: 90%;
            }
        }
        .image-2{
            grid-area: image-2;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                max-width: 70%;
            }
        }
        .image-3{
            grid-area: image-3;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                max-width: 70%;
            }
        }
        .image-4{
            grid-area: image-4;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                max-width: 70%;
            }
        }
        .content-title{
            padding: 2em;
            grid-area: content-title;
            .title{
                font-size: 2em;
                margin-bottom: 2em;
                border-bottom: 2px solid rgba(0, 0, 0, 0.424);
                padding-bottom: 1em;
                text-align: center;
            }
        }
        .link{
            grid-area: link;
            text-align: center;
            padding: 1em 0;
        }
    }
    .item-article-type-3{
        box-shadow: 6px 6px 25px 1px rgba(16, 16, 17, 0.2);
        border: 0.5px solid rgba(16, 16, 17, 0.2);
        background-color: white;
        border-radius: 8px;
        padding: 2em;
        margin: 5em auto;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
        "date date date"
        "image-1 image-1 image-1"
        "content-title content-title content-title"
        "image-2 image-3 image-4"
        "link link link";
       
        .date{
            grid-area: date;
            padding: 0.5em 0;
        }
        .image-1{
            grid-area: image-1;
            padding: 0.5em;
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                max-width:100%;
            }
        }
        .image-2{
            grid-area: image-2;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                max-width: 80%;
            }
        }
        .image-3{
            grid-area: image-3;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                max-width: 80%;
            }
        }
        .image-4{
            grid-area: image-4;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                max-width: 80%;
            }
        }
        .content-title{
            padding: 2em;
            grid-area: content-title;
            .title{
                font-size: 2em;
                margin-bottom: 2em;
            }
        }
        .link{
            grid-area: link;
            text-align: center;
            padding: 1em 0;
        }
    }

}