.main{
    grid-area: main;
    min-height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .site-content{
        h2{
            font-size: 1.2em;
        }
        p{
            font-size: 0.8em;
        }
    }
}