body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.active {
  color: #28b13f !important;
}

.errors {
  color: whitesmoke;
  padding: 1em 1.3em;
  border-radius: 0.3em;
  background-color: #b12828;
}

.success {
  color: whitesmoke;
  padding: 1em 1.3em;
  border-radius: 0.3em;
  background-color: #28b13f;
}

.success-create {
  color: whitesmoke;
  padding: 1em 1.3em;
  border-radius: 0.3em;
  background-color: #28b13f;
  max-width: 50%;
  margin: auto;
  transition: opacity 7s;
  margin-bottom: 0.2em;
}

.opacity-none {
  opacity: 0;
}

.header-home {
  background-color: #90a955;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-home #nav-home h1 {
  font-size: 2.5em;
  text-align: center;
  color: #ebf3a0;
}
.header-home #nav-home h2 {
  font-size: 2em;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 0.5fr 2.5fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "nav main" "nav footer";
}
.container #nav {
  grid-area: nav;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .nav {
  text-align: center;
}
.container .nav a {
  margin: 40% 0;
  display: block;
}

.main {
  grid-area: main;
  min-height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .site-content p {
  font-size: 3em;
}

.container-admin-connection {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container-admin-connection .admin-content-connection .nav {
  margin: 2em 0;
}
.container-admin-connection .admin-content-connection .connection h3 {
  font-size: 2.5em;
  font-weight: 500;
  text-decoration: underline;
}
.container-admin-connection .admin-content-connection .connection p {
  margin: 2em 0;
}
.container-admin-connection .admin-content-connection .connection input[type=text] {
  padding: 0.4em 0;
}
.container-admin-connection .admin-content-connection .connection button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 0.65em 1.2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
}
.container-admin-connection .admin-content-connection .connection button:hover {
  background-color: #31582c;
  /* Green */
}

.container-admin-create {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container-admin-create .admin-content-create .nav {
  margin: 1em 0;
}
.container-admin-create .admin-content-create h3 {
  margin: 0.2em;
  font-size: 2.5em;
  font-weight: 500;
  text-decoration: underline;
}
.container-admin-create .admin-content-create form {
  display: flex;
}
.container-admin-create .admin-content-create .create .create-left {
  float: left;
  margin: 0 2em;
}
.container-admin-create .admin-content-create .create .create-right {
  margin: 0 2em;
}
.container-admin-create .admin-content-create .create p {
  margin: 2em 0;
}
.container-admin-create .admin-content-create .create #link_title {
  text-align: center;
}
.container-admin-create .admin-content-create .create .link-create {
  width: 100%;
  text-align: center;
}
.container-admin-create .admin-content-create .create #type {
  float: left;
  margin-left: 3em;
}
.container-admin-create .admin-content-create .create #categories {
  clear: both;
}
.container-admin-create .admin-content-create .create button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 0.65em 1.2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
}
.container-admin-create .admin-content-create .create button:hover {
  background-color: #2f5a30;
  /* Green */
}

/*# sourceMappingURL=style.css.map */
